<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Портал «Нарушениям.Нет»</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    {% include '/components/header.html' %}

    <main>
        <section>
            {%if username == None%}
                <h2><a href="/login">Войдите в аккаунт</a></h2>
            {%else%}
            <form action="/createticket" method="POST">
                {%if result is defined%}
                    <h2>{{result}}</h2>
                {%endif%}
                <div class="input-group">
                    <label for="number">Гос номер:</label>
                    <input type="text" id="number" name="number">
                </div>
                <div class="input-group">
                    <label for="text">Нарушение</label>
                    <input type="text" id="text" name="text">
                </div>
                <button type="submit">Сообщить</button>
            </form>
            {%endif%}
        </section>
        <section>
            {% if tickets != None %}
                <h2>Ваши запросы:</h2>
                {% for i in tickets%}
                    <br>
                    Госномер:{{i["number"]}}
                    <br>
                    Текст:{{i["text"]}}
                    <br>
                    Статус:{{i["status"]}}
                    <br>
                    -------------------------------------
                {% endfor %}

            {%endif%}
        </section>
    </main>

    {% include '/components/footer.html' %}
</body>
</html>
