<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Портал «Нарушениям.Нет»</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
{% include '/components/header.html' %}

<main>
<section>
<h2>Правила использования портала «Нарушениям.Нет»</h2>

<h3>1. Общие положения</h3>
<p>Портал «Нарушениям.Нет» предоставляет возможность пользователям сообщать о нарушениях и предоставлять информацию о них. Все пользователи обязуются соблюдать настоящие правила использования портала.</p>

<h3>2. Конфиденциальность и обработка личных данных</h3>
<p>Мы ценим конфиденциальность наших пользователей и обязуемся соблюдать требования по защите персональных данных. Вся информация, предоставленная пользователями при использовании портала, будет обрабатываться в соответствии с нашей политикой конфиденциальности.</p>

<h3>3. Файлы куки</h3>
<p>Мы используем файлы куки для улучшения работы нашего портала и предоставления персонализированного контента. Продолжая использовать портал, вы соглашаетесь с использованием файлов куки в соответствии с нашей политикой файлов куки.</p>

<h3>4. Запрещенные действия</h3>
<p>Запрещается использовать портал для размещения ложной информации, клеветы, а также для целей, противоречащих законодательству. Мы оставляем за собой право удалить любую информацию, которая не соответствует нашим правилам.</p>

<h3>5. Ответственность</h3>
<p>Мы не несем ответственности за достоверность информации, размещенной пользователями на портале. Пользователи несут полную ответственность за предоставленную ими информацию и ее последствия.</p>

<h3>6. Изменения в правилах</h3>
<p>Мы оставляем за собой право вносить изменения в настоящие правила использования портала «Нарушениям.Нет». При изменениях мы оповестим пользователей о новых условиях.</p>

<p>Если у вас есть вопросы или предложения по улучшению работы портала, пожалуйста, свяжитесь с нами.</p>
</section>
</main>

{% include '/components/footer.html' %}
</body>
</html>
