<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Портал «Нарушениям.Нет»</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    {% include '/components/header.html' %}

    <main>
        <section>
           <h2>О проекте «Нарушениям.Нет»</h2>
           <h3>Проект «Нарушениям.Нет» создан для того, чтобы сделать дороги более безопасными и справедливыми. 
            Мы помогаем бороться с нарушениями правил дорожного движения,
            предоставляя возможность каждому гражданину сообщить о правонарушении, 
            указав государственный номер транспортного средства нарушителя.
            Наша цель — создать систему, которая позволит повысить 
            уровень ответственности водителей и пешеходов, а также снизить
            количество нарушений на дорогах. Мы верим, что вместе мы сможем сделать наши дороги более безопасными для всех участников движения.
           </h3>
            <h2>Как это работает?</h2>
            <h3>
            Чтобы оставить жалобу на портале «Нарушениям.Нет», вам необходимо выполнить следующие шаги:

            1. Перейти на сайт проекта.
            
            2. Отправить жалобу.
            (Чтобы оставить жалобу на портале «Нарушениям.Нет», вам необходимо зарегистрироваться. Это займёт всего несколько минут.
            Регистрация необходима для того, чтобы мы могли связаться с вами в случае возникновения вопросов по вашей жалобе.
            После регистрации вы сможете оставить заявку, указав государственный номер транспортного средства нарушителя, описание нарушения и ваши контактные данные.
            Заполнить форму жалобы, указав государственный номер транспортного средства нарушителя, описание нарушения и ваши контактные данные.)

            Мы гарантируем конфиденциальность ваших данных и анонимность, если вы этого пожелаете. Все жалобы обрабатываются в соответствии с законодательством Российской Федерации.</h3>

           <h2>Почему это важно?</h2>
            <h3>Проект «Нарушениям.Нет» помогает не только выявлять и пресекать нарушения правил дорожного движения, но и формировать культуру безопасного поведения на дорогах. Мы стремимся сделать наши дороги более безопасными для всех участников движения.
            Присоединяйтесь к нам в борьбе за безопасность на дорогах! Вместе мы сможем сделать наши дороги более справедливыми и безопасными.</h3>

            <h2><a href="/rules">С правилами портала можно ознакомится тут</a></h2>
        </section>
    </main>

    {% include '/components/footer.html' %}
</body>
</html>
