body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 150px;
}

section h2 {
    color: #ffffff;
}

footer {
    background-color: #333333;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}

#registrationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   
   #registrationForm label {
    display: block;
    margin-bottom: 10px;
   }
   
   #username, #email, #password, #confirmPassword {
    width: 300px;
   }
   
   #username, #email, #password, #confirmPassword,
   #registrationForm input,
   #registrationForm select,
   #registrationForm textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   }
   
   #registrationForm input:focus,
   #registrationForm select:focus,
   #registrationForm textarea:focus {
    border: 1px solid #66afe9;
    outline: none;
   }
   
   
   
   #registrationForm.checkbox {
    display: flex;
    align-items: center;
   }
   
   #registrationForm.checkbox input {
    display: none;
   }
   
   #registrationForm.checkbox label {
    margin-left: 10px;
   }
   
   #registrationForm.checkbox label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    vertical-align: middle;
   }
   
   #registrationForm.checkbox input:checked + label:before {
    background-color: #66afe9;
    border-color: #66afe9;
   }

   button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #66afe9;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

a {
    color: white;
}